body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    color: aliceblue;
    margin-top: 120px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label,
  input,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  label{
    color: aliceblue;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  #message {
    width: 500px;
    height: 100px;
  } 

