@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.fotolar h1 {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 5px;
}

.nedenbiz {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #00FFFF;   
}
  
.icerik1,
.icerik {
    display: inline-block;
    vertical-align: top;
}

.icerik {
    background-color: black; 
}

p.yazi {
    color: white;
    padding: 80px;
    padding-top: 150;
    margin-top: 125px;
    text-align: left;
    border-left: 2px solid white; 

}

.icerik1 {
    background-color: black;    
    border-radius: 35px;
    height: 400px;
    width: 1900px;
    align-items: center;
    padding-top: 150px;
}

.icerik1 h1 {
    text-align: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.yazi {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    padding: 5px;
}

.fotolar img {
    height: 130px;
    text-align: center;
    padding: 25px;
    padding-top: 10px; 
    margin-bottom: 20px;
}

.fotolar {
  text-align: center;
  align-items: center;
  background-color: black;
  border-top: 2px solid #00FFFF;    
  border-bottom: 2px solid #00FFFF;    
}

.fotolar img:not(:last-child) {
    margin-right: 20px;
    border-right: 1px solid #00FFFF;
    padding-right: 20px;
  }


.navbar {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: center;
    text-align: center;
    padding: 5px;
    margin: 21.5rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: auto;
    z-index: 999;
    height: 100px;
    border: #00FFFF 1px solid;
    margin-top: 20px;
    border-radius: 40px;
}

.item a{
    list-style: none;
    padding: 15px;
    list-style: none;  
    text-decoration: none; 
    color: white;
    font-size: 17px;
    font-weight: 550;
    font-family: 'Roboto Condensed', sans-serif;
}   

.list {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-right: 30px;
    padding: 5px;
}   

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}   

.navbar img {
    height: 120px;   
    padding: 0 20px;
}   

.menu ul li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;  

    display: flex;
    border-radius: 3px;
}

.menu ul li a:hover {
    border-bottom: 2px solid #00FFFF;
    border-radius: 3px;
}
     
.active {
    border-bottom: 2px solid #00FFFF;
    border-radius: 3px;
}   

.ana1 {
    background-image: url(/others/uzay.gif);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 747px;  
    border-radius: 15px;
}

h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    padding: 40px;  
}

p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: left;
    padding: 40px;  
}

.footer {
    background-color: #000;
    height: 50px;
    width: 100%;
    margin: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
    border-top: 1px solid #00FFFF ;
    display: none;
} 
      
.footer p {
    color: white;
    text-align: center;
    padding-top: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;  
    padding :0;

}


@media screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }   


    .ana1 {
        background-image: url(/others/uzay-mobil2.gif);
        
    }

    .ana1 h1 {
        font-size: 30px;
        text-align: center;
        align-items: center;
        padding-top: 200px;
    }

    .ana p {
        font-size: 100%;
    }

    .navbar {
        background-color: black;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        top: 0;
        width: auto;
        z-index: 999;
        height: 110px;
        border-bottom: none;
        border-radius: 0px;
        border-color: none;

    }
    
    
    .item a{
        list-style: none;
        padding: 0;
        list-style: none;  
        text-decoration: none; 
        text-align: center;
        padding-bottom: 15px;
        color: white;
        font-size: 13px;
        font-weight: 550;
        font-family: 'Roboto', sans-serif;    
    }   
    
    .list {
        list-style: none;
        background-color: black;
        margin-top: 0;
        border: 1px solid #00FFFF;
        border-top: none; 
    }
    
    
    
    
    
    .menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 8px;
        
        margin-right: 0;
        margin-top: -20px;
        padding: 5px;
        }   
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        border-bottom: 1px solid #00FFFF;
        }   
        
    
    
    
    
    .navbar img {
        height: 120px;   
        padding: 0 20px;
        padding-bottom: 6px;
        }   

    
        
    
    .menu ul li {
        list-style-type: none;
        text-decoration: none;
        padding: 10px;  
        display: flex;
        border-radius: 6px;
    }

    .footer {
        width: auto;
        text-align: center;
        align-items: center;
    }

    .footer p {
        margin-top: 18px;
    }

}        